<!-- 
  Data Files: instapic/_data/quotation.yml
-->
<blockquote class="blockquote text-center">
  <style>
    .opacity-animated   {
        opacity: 1;
        transition: opacity 0.5s ease; /* 定义过渡效果，透明度在 0.5 秒内平滑变化 */
    }
    .opacity-animated.hidden {
        opacity: 0; /* 隐藏时透明度为 0 */
        pointer-events: none; /* 隐藏时禁止鼠标交互 */
    }
  </style>
  <div class="carousel">
    <% let count=0 %>
    <% for (var item in site.data.quotation){%>
      <input type="radio" class="carousel-radio" name="carousel" id="carousel-<%=count %>" value="<%=count %>">
      <label class="carousel-indicators" for="carousel-<%=count %>"></label>
      <div class="carousel-inner opacity-animated" style="width: 100%;height: 9rem;">
        <div class="blockquote-body">
          <p><%=site.data.quotation[item]['words'] %></p>
        </div>
        <footer class="blockquote-footer"><%=site.data.quotation[item]['name'] %></footer>
      </div>
      <% count++ %>
    <%} %>
  </div>
</blockquote>

<script>
	var tesObj = document.getElementsByName("carousel");
	//设置 value 值为 0 选中
	for(var i=0; i < tesObj.length; i++){
		if (tesObj[i].value=="0"){
			tesObj[i].checked = true;
			break;
			}
	}
  async function autoChange() {
    while (true) {
      for (var i = 0; i < tesObj.length; i++) {
        if (tesObj[i].checked) {
          tesObj[i].checked = false;
          var nextIndex = (i + 1) % tesObj.length;
          tesObj[nextIndex].checked = true;
          await new Promise(resolve => setTimeout(resolve, 4000)); 
          break;
        }
      }
    }
  }
  autoChange();
</script>
